body{
    background: cornflowerblue;
    justify-content: center;
}

h1{
    font-family: monospace;
    font-size: 100px;
    color: blanchedalmond;
    text-align: center;
}

.inner{
    display: grid;
    grid-row-gap: 1fr 1fr;
}

a{
    justify-self: center;
}